@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

:root {
    --primary-color: rgb(227, 227, 227);
    --secondary-color: rgb(29, 29, 29);
}

.dark-theme {
    --primary-color: rgb(29, 29, 29);
    --secondary-color: rgb(227, 227, 227);
}

/*styling for menu*/

#menu {
    cursor: pointer;
    max-width: 200px;
    height: 600px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    /* Add position relative */
    overflow: hidden;
    z-index: 1;
    /* Hide overflow to prevent background from showing outside */
}

.menu-header {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 12px 8px 10px 14px;
}

#menu.active .menu-body {
    max-height: 600px;
    z-index: 1;
}

#menu>.menu-header>svg>path {
    fill: var(--primary-color);
    transition: fill 0.2s ease;
}


#menu.active .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.547);
    justify-content: center;
    align-items: center;
    z-index: -2;
}

#menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(42, 42, 42);
    transform: scaleY(0);
    /* Initial width is 0 */
    transform-origin: top;
    /* Expand from left */
    transition: transform 0.4s ease-in-out;
    /* Transition transform property for slide effect */
    z-index: -1;
    /* Place it behind the menu */
}

#menu.active::before {
    transform: scaleY(1);
    /* Expand to full width */
    transform-origin: top;
    /* Expand from left */
}

.menu-body {
    margin: 0;
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    color: #f2f2f2;
    transition: max-height 0.4s ease;
    /* Transition max-height for the dropdown */
}

.menu-body>ul {
    list-style: none;
    padding: 0;
    margin-bottom: 350px;
}

.menu-body>ul>li {
    list-style: none;
    padding-bottom: 10px;
}

.menu-body>dl>dd {
    list-style: none;
    padding-bottom: 10px;

}

.menu-body>dl {
    transition-delay: 0.4s ease;
}

/*styling for header*/

.header {
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    position: relative;
    left: 200px;
    bottom: 610px;
    margin: 0;
    padding: 0%;
}


/*styling for search bar*/

.search-bar {
    width: 250px;
    position: relative;
    bottom: 650px;
    left: 800px;
    background-color: rgba(170, 170, 170, 0.421);
    backdrop-filter: blur(4px);
    align-items: center;
    border-radius: 60px;
    display: flex;
    padding: 10px 20px;
    vertical-align: middle;

}

.search-bar>input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--secondary-color);
}

::placeholder {
    color: var(--secondary-color);
}

.search-bar>button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 10px;
}

.search-bar>button>svg {
    fill: var(--secondary-color);
    height: 15px;
}


/* styling for theme*/

.theme {
    width: 90px;
    height: 30px;
    border-radius: 60px;
    position: relative;
    bottom: 690px;
    left: 1400px;
    background-color: var(--secondary-color);
    display: flex;
    z-index: 1;
}

.theme>img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.theme>p {
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 1rem;
    color: var(--primary-color);
}

/*/////////////////////////////styles for main weather card/////////////////////*/

.main-card {
    position: relative;
    bottom: 550px;
    left: 250px;
    width: 1000px;
    height: 300px;
    background-color: black;
}

.main-card>.image>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.main-card>.details {
    width: 600px;
    height: 300px;
    background-color: rgba(22, 22, 22, 0.548);
    position: relative;
    bottom: 509px;
    left: 400px;
    backdrop-filter: blur(4px);
}

.main-card>.details>table {
    margin: 0;
    position: relative;
    top: 10%;
    left: 10%;
    width: 500px;
    height: 200px;
}

.main-card>.details>table td {
    padding-top: 5px;
    max-width: 500px;
    color: rgb(227, 227, 227);
    background-color: rgba(0, 0, 0, 0.356);
    /* Adjust padding as needed */
    text-align: center;
    padding: 5px 0px 5px 0px;

    /* Center-align content within cells */
}

#weatherTable td img,
#weatherTable td p {
    display: inline-block;
    vertical-align: middle;
    /* Optional: Aligns elements vertically in the middle */
    margin-right: 5px;
    /* Optional: Adds some space between the image and the paragraph */
}


.temp {

    position: relative;
    bottom: 257px;
    left: 50px;
    color: rgb(227, 227, 227);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 7rem;
    margin: 0;
}

/* .temperature{
    position: relative;
    top: 40px;
} */

/* .condition{
    background-color: antiquewhite;
    width: 300px;
    position: relative;
    top: 180px;
    left: 50px;
}

.location{
    width: 300px;
    position: relative;
    top: 220px;
    left: 50px;
} */



h2 {
    margin: 0;
}

.display-forecast-data {
    position: relative;
    bottom: 562px;
    left: 680px;
    display: flex;
    width: 560px;
    height: 200px;
}

.forecast-header {
    color: var(--secondary-color);
    width: 200px;
    position: relative;
    bottom: 550px;
    left: 900px;
}

.card-temp {
    font-size: 2.5rem;
    font-weight: 900;
}

.card-font {
    font-size: 1.2rem;
}

.card {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
    margin: 10px;
    background-color: rgba(153, 153, 153, 0.288);
    width: 120px;
    text-align: center;
    border-radius: 10px;

}

.historical-data {
    position: relative;
    bottom: 810px;
    left: 250px;
    height: 200px;
    width: 390px;

}

.historical-data table tr td img {
    vertical-align: middle;
}

.historiacl-header {
    color: var(--secondary-color);
    width: 200px;
    position: relative;
    bottom: 810px;
    left: 350px;
}

img {
    height: 30px;
    width: 30px;
}

.historical-data>table {
    text-align: center;
    height: 200px;
    width: 390px;
    padding-top: 5px;
    max-width: 500px;
    color: rgb(227, 227, 227);
    background-color: rgb(92, 92, 92);
    text-align: center;
    padding: 5px;
}

.historical-data>table td {
    padding-top: 5px;
    max-width: 500px;
    color: rgb(227, 227, 227);
    background-color: rgba(0, 0, 0, 0.493);
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.display-forecast-data table {
    height: 100%;
    width: 100%;
}

.card img{
    background-size: cover;
    width: 150px;
}




/* //////////////// MEDIA QUERIES//////////////// */
@media (max-width:770px) {
    .header {
        color: var(--secondary-color);
        transition: background-color 0.3s ease;
        font-size: 1.5rem;
        position: relative;
        left: 90px;
        bottom: 610px;
        margin: 0;
        padding: 0%;
        width: 50%;
    }

    .search-bar {
        width: 200px;
        position: relative;
        bottom: 650px;
        left: 450px;
        background-color: rgba(170, 170, 170, 0.421);
        backdrop-filter: blur(4px);
        align-items: center;
        border-radius: 60px;
        display: flex;
        padding: 10px 20px;
        vertical-align: middle;
    }

    .main-card {
        position: relative;
        bottom: 598px;
        left: 40px;
        width: 90%;
        height: 300px;
        background-color: black;
    }

    .main-card>.details {
        width: 100%;
        height: 78%;
        background-color: rgba(22, 22, 22, 0.548);
        position: relative;
        bottom: 446px;
        left: 0;
        backdrop-filter: blur(4px);
    }

    .main-card>.details>table {
        margin: 0;
        position: relative;
        top: 13%;
        left: 5%;
        width: 90%;
        height: 70%;
    }

    .main-card>.image>img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .temp {

        position: relative;
        bottom: 377px;
        left: 20px;
        color: rgb(227, 227, 227);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 55px;
    }

    #weatherTable tr td {
        font-size: 11px;
    }

    h1 {
        font-size: 5rem;
    }

    .condition {
        font-size: .7rem;
        position: relative;
        bottom: 50px;
        left: 120px;
    }

    .location {
        font-size: .9rem;
        width: 300px;
        position: relative;
        bottom: 55px;
        left: 120px;
    }

    .theme {
        width: 25px;
        height: 25px;
        border-radius: 60px;
        position: relative;
        bottom: 690px;
        left: 95%;
        background-color: var(--secondary-color);
        display: flex;
        z-index: 1;
    }

    .theme>img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu-header {
        background-color: var(--secondary-color);
        transition: background-color 0.3s ease;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 12px 8px 10px 14px;
    }

    #menu-icon {
        position: relative;
        right: 2.5px;
        bottom: 1px;
    }

    .historical-data {
        color: rgb(227, 227, 227);
        border-radius: 10px;
        position: relative;
        bottom: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(61, 61, 61);
        height: 200px;
        width: 68%;
    }

    .historiacl-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 480px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .forecast-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 488px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .historical-data>table {
        text-align: center;
        height: 200px;
        width: 100%;
    }

    .display-forecast-data {
        position: relative;
        bottom: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 75%;
        height: 300px;
        border-radius: 10px;
        align-content: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .display-forecast-data table {
        position: relative;
        top: 0px;
        width: 45%;
        height: 130px;
    }

    .search-bar>button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        top: 2px;
        left: -12px;
    }
}

@media (max-width:425px) {
    .header {
        color: var(--secondary-color);
        transition: background-color 0.3s ease;
        font-size: 1.5rem;
        position: relative;
        left: 120px;
        bottom: 610px;
        margin: 0;
        padding: 0%;
        width: 50%;
    }

    .search-bar {
        width: 200px;
        position: relative;
        bottom: 590px;
        left: 85px;
        background-color: rgba(170, 170, 170, 0.421);
        backdrop-filter: blur(4px);
        align-items: center;
        border-radius: 60px;
        display: flex;
        padding: 10px 20px;
        vertical-align: middle;
    }

    .main-card {
        position: relative;
        bottom: 598px;
        left: 23px;
        width: 90%;
        height: 300px;
        background-color: black;
    }

    .main-card>.details {
        width: 100%;
        height: 78%;
        background-color: rgba(22, 22, 22, 0.548);
        position: relative;
        bottom: 436px;
        left: 0;
        backdrop-filter: blur(4px);
    }

    .main-card>.details>table {
        margin: 0;
        position: relative;
        top: 7%;
        left: 5%;
        width: 90%;
        height: 70%;
    }

    .main-card>.image>img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .temp {

        position: relative;
        bottom: 377px;
        left: 29px;
        color: rgb(227, 227, 227);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    #weatherTable tr td {
        font-size: 11px;
    }

    .condition {
        font-size: .8rem;
        position: relative;
        bottom: 75px;
        left: 170px;
    }

    .location {
        width: 300px;
        position: relative;
        bottom: 80px;
        left: 170px;
    }

    .theme {
        width: 25px;
        height: 25px;
        border-radius: 60px;
        position: relative;
        bottom: 735px;
        left: 90%;
        background-color: var(--secondary-color);
        display: flex;
        z-index: 1;
    }

    .theme>img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu-header {
        background-color: var(--secondary-color);
        transition: background-color 0.3s ease;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 12px 8px 10px 14px;
    }

    #menu-icon {
        position: relative;
        right: 2.5px;
        bottom: 1px;
    }

    .historical-data {
        color: rgb(227, 227, 227);
        border-radius: 10px;
        position: relative;
        bottom: 510px;
        left: 4px;
        background-color: rgb(61, 61, 61);
        height: 200px;
        width: 370px;
    }

    .historiacl-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 500px;
        left: 28%;
    }

    .forecast-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 488px;
        left: 32%;
    }

    .display-forecast-data {
        position: relative;
        bottom: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 92%;
        height: 550px;
        border-radius: 10px;
        align-content: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .display-forecast-data table {
        position: relative;
        top: 20px;
        width: 330px;
    }

    .search-bar>button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        top: 2px;
        left: -12px;
    }
}

@media (max-width:525px) {
    .header {
        color: var(--secondary-color);
        transition: background-color 0.3s ease;
        font-size: 1.5rem;
        position: relative;
        left: 120px;
        bottom: 610px;
        margin: 0;
        padding: 0%;
        width: 50%;
    }

    .search-bar {
        width: 200px;
        position: relative;
        bottom: 590px;
        left: 85px;
        background-color: rgba(170, 170, 170, 0.421);
        backdrop-filter: blur(4px);
        align-items: center;
        border-radius: 60px;
        display: flex;
        padding: 10px 20px;
        vertical-align: middle;
    }

    .main-card {
        position: relative;
        bottom: 598px;
        left: 23px;
        width: 90%;
        height: 300px;
        background-color: black;
    }

    .main-card>.details {
        width: 100%;
        height: 78%;
        background-color: rgba(22, 22, 22, 0.548);
        position: relative;
        bottom: 450px;
        left: 0;
        backdrop-filter: blur(4px);
    }

    .main-card>.details>table {
        margin: 0;
        position: relative;
        top: 7%;
        left: 5%;
        width: 90%;
        height: 70%;
    }

    .main-card>.image>img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .temp {

        position: relative;
        bottom: 377px;
        left: 29px;
        color: rgb(227, 227, 227);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    #weatherTable tr td {
        font-size: 11px;
    }

    .condition {
        font-size: .8rem;
        position: relative;
        bottom: 75px;
        left: 170px;
    }

    .location {
        width: 300px;
        position: relative;
        bottom: 80px;
        left: 170px;
    }

    .theme {
        width: 25px;
        height: 25px;
        border-radius: 60px;
        position: relative;
        bottom: 735px;
        left: 90%;
        background-color: var(--secondary-color);
        display: flex;
        z-index: 1;
    }

    .theme>img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu-header {
        background-color: var(--secondary-color);
        transition: background-color 0.3s ease;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 12px 8px 10px 14px;
    }

    #menu-icon {
        position: relative;
        right: 2.5px;
        bottom: 1px;
    }

    .historical-data {
        color: rgb(227, 227, 227);
        border-radius: 10px;
        position: relative;
        bottom: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(61, 61, 61);
        height: 200px;
        width: 90%;
    }

    .historical-data>table {
        text-align: center;
        height: 200px;
        width: 100%;
    }

    .historiacl-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .forecast-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 470px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .display-forecast-data {
        position: relative;
        bottom: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 75%;
        height: 550px;
        border-radius: 10px;
        align-content: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .display-forecast-data table {
        position: relative;
        top: -1px;
        width: 90%;
    }

    .search-bar>button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        top: 2px;
        left: -12px;
    }
}


@media (max-width:320px) {
    .header {
        color: var(--secondary-color);
        transition: background-color 0.3s ease;
        font-size: 1.5rem;
        position: relative;
        left: 90px;
        bottom: 610px;
        margin: 0;
        padding: 0%;
        width: 50%;
    }

    .search-bar {
        width: 200px;
        position: relative;
        bottom: 590px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(170, 170, 170, 0.421);
        backdrop-filter: blur(4px);
        align-items: center;
        border-radius: 60px;
        display: flex;
        padding: 10px 20px;
        vertical-align: middle;
    }

    .main-card {
        position: relative;
        bottom: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 300px;
        background-color: black;
    }

    .main-card>.details {
        width: 100%;
        height: 78%;
        background-color: rgba(22, 22, 22, 0.548);
        position: relative;
        bottom: 436px;
        left: 0;
        backdrop-filter: blur(4px);
    }

    .main-card>.details>table {
        margin: 0;
        position: relative;
        top: 7%;
        left: 5%;
        width: 90%;
        height: 70%;
    }

    .main-card>.image>img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .temp {

        position: relative;
        bottom: 377px;
        left: 20px;
        color: rgb(227, 227, 227);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 55px;
    }

    #weatherTable tr td {
        font-size: 11px;
    }

    h1 {
        font-size: 5rem;
    }

    .condition {
        font-size: .7rem;
        position: relative;
        bottom: 50px;
        left: 120px;
    }

    .location {
        font-size: .9rem;
        width: 300px;
        position: relative;
        bottom: 55px;
        left: 120px;
    }

    .theme {
        width: 25px;
        height: 25px;
        border-radius: 60px;
        position: relative;
        bottom: 735px;
        left: 90%;
        background-color: var(--secondary-color);
        display: flex;
        z-index: 1;
    }

    .theme>img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu-header {
        background-color: var(--secondary-color);
        transition: background-color 0.3s ease;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 12px 8px 10px 14px;
    }

    #menu-icon {
        position: relative;
        right: 2.5px;
        bottom: 1px;
    }

    .historical-data {
        color: rgb(227, 227, 227);
        border-radius: 10px;
        position: relative;
        bottom: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(61, 61, 61);
        height: 200px;
        width: 290px;
    }

    .historiacl-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .forecast-header {
        color: var(--secondary-color);
        width: 200px;
        position: relative;
        bottom: 460px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .historical-data>table {
        text-align: center;
        height: 200px;
        width: 296px;
    }

    .display-forecast-data {
        position: relative;
        bottom: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 92%;
        height: 550px;
        backdrop-filter: blur(4px);
        border-radius: 10px;
        align-content: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .display-forecast-data table {
        position: relative;
        top: -2px;
        width: 250px;
    }

    .search-bar>button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        top: 2px;
        left: -12px;
    }
}